<% record.department.each do |bn| %>
  <span itemprop="contentLocation" itemscope itemtype="http://repository.temple.edu/ns/department">
    <span itemprop="name"><%= link_to_facet(bn, Solrizer.solr_name("department", :facetable)) %></span>
  </span>
  <br />
<% end %>
